.navbar {
    background-color: white;
    box-shadow: 0 0 20px 5px lightgrey;
    margin-bottom: 5px;
    
}

.main {
    margin-bottom: 4px;
    background-color: red;
}

.body {
    background-color: aqua;
}