.navbar {
    background-color: white;
    box-shadow: 0 0 20px 5px lightgrey;
    margin-bottom: 5px;
    
}

.main {
    margin-bottom: 4px;
    background-color: rgb(190, 188, 188);
    min-height: 400px;
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: 80px 200px;
    column-gap: 20px;
    font-weight: bold;
}

.toDo, .completed {
    display: flex;
    flex-direction: column;

}

.homeInput {
    max-width: 250px;
    display: inline-block;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
}

.homeInput:focus {
    outline: none;
    background-color: lightblue;
}

.addBtn {
    margin-left: 5px;
    border: none;
    border-radius: 100%;
    padding-left:10px;
    padding-right: 10px;
}